.favorites-list {
    background-color: #ff91af; // El color rosa que deseas aplicar al fondo
    min-height: 100vh;
    padding: 20px;
    box-sizing: border-box;
  
    .favorites-grid {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;
    }
  
    .favorite-image-container {
      width: 150px;
      height: 150px;
      position: relative;
    
    
    .favorite-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    
    .remove-favorite {
      position: absolute;
      top: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.5);
      color: #fff;
      padding: 2px 5px;
      font-size: 12px;
      cursor: pointer;
    }
    
    
      &:hover .remove-favorite {
        display: block;
      }
    }
    

    
}