$background-color: #f5f5f5; // Puedes cambiar el valor a cualquier color que desees.
// src/styles/variables.scss
$primary-color: #ff9aa2; // Color rosa de fondo
$secondary-color: #ffd1dc; // Color rosa más claro para los rectángulos

$breed-box-background: #ffebf0;